# EDA on IPL-2022

In [1]:
# Import Required python libraries for analysis
import pandas as pd

In [2]:
# prepaire a Data Set for Analysis
ipl=pd.read_csv("ipl2022.csv")

In [3]:
# Looking at first five records of Data set
ipl.head()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25
4,5,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan,Group,Hyderabad,Field,210,6,149,7,Rajasthan,Runs,61,Sanju Samson,Aiden Markram,57,Yuzvendra Chahal,3--22

In [4]:
ipl.tail()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
41,68,"May 20,2022","Brabourne Stadium, Mumbai",Chennai,Rajasthan,Group,Chennai,Bat,150,6,151,5,Rajasthan,Wickets,5,R Aswin,Moeen Ali,93,Prashant Solanki,2--20
42,69,"May 21,2022","Wankhede Stadium, Mumbai",Delhi,Mumbai,Group,Mumbai,Field,159,7,160,5,Mumbai,Wickets,5,Jasprit Bumrah,Ishan Kishan,48,Jasprit Bumrah,3--25
43,72,"May 25,2022","Eden Gardens, Kolkata",Banglore,Lucknow,Playoff,Lucknow,Field,207,4,193,6,Banglore,Runs,14,Rajat Patidar,Rajat Patidar,112,Josh Hazlewood,3--43
44,73,"May 27,2022","Narendra Modi Stadium, Ahmedabad",Banglore,Rajasthan,Playoff,Rajasthan,Field,157,8,161,3,Rajasthan,Wickets,7,Jos Buttler,Jos Buttler,106,Prasidh Krishna,3--22
45,74,"May 29,2022","Narendra Modi Stadium, Ahmedabad",Gujarat,Rajasthan,Final,Rajasthan,Bat,130,9,133,3,Gujarat,Wickets,7,Hardik Pandya,Shubman Gill,45,Hardik Pandya,3--17

In [5]:
# A short summary about Data set
ipl.describe()

,match_id,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,margin,highscore
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,33.652174,170.130435,5.891304,159.630435,6.065217,14.913043,73.608696
std,23.128835,31.597896,2.442478,30.632125,2.453136,17.277894,23.304247
min,1.000000,68.000000,0.000000,72.000000,1.000000,2.000000,28.000000
25%,12.500000,153.250000,4.000000,145.750000,4.000000,5.000000,56.250000
50%,31.000000,169.500000,6.000000,160.500000,6.500000,7.000000,70.500000
75%,53.000000,193.000000,8.000000,180.500000,8.000000,15.750000,91.250000
max,74.000000,222.000000,10.000000,211.000000,10.000000,67.000000,140.000000

In [6]:
# to know the Data Type of Each columns is Correct or not
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match_id             46 non-null     int64
 1   date                 46 non-null     object
 2   venue                46 non-null     object
 3   team1                46 non-null     object
 4   team2                46 non-null     object
 5   stage                46 non-null     object
 6   toss_winner          46 non-null     object
 7   toss_decision        46 non-null     object
 8   first_ings_score     46 non-null     int64
 9   first_ings_wkts      46 non-null     int64
 10  second_ings_score    46 non-null     int64
 11  second_ings_wkts     46 non-null     int64
 12  match_winner         46 non-null     object
 13  won_by               46 non-null     object
 14  margin               46 non-null     int64
 15  player_of_the_match  46 non-null     object
 16  top_scorer           46 non-null     object
 17  highscore            46 non-null     int64
 18  best_bowling         46 non-null     object
 19  best_bowling_figure  46 non-null     object
dtypes: int64(7), object(13)
memory usage: 7.3+ KB

In [7]:
# to know the number of rows and columns
ipl.shape

(46, 20)

In [8]:
# to know the number of records in Data - Set
ipl.size

920

In [9]:
# is there any null values in Each Columns.
ipl.isnull().sum()

match_id               0
date                   0
venue                  0
team1                  0
team2                  0
stage                  0
toss_winner            0
toss_decision          0
first_ings_score       0
first_ings_wkts        0
second_ings_score      0
second_ings_wkts       0
match_winner           0
won_by                 0
margin                 0
player_of_the_match    0
top_scorer             0
highscore              0
best_bowling           0
best_bowling_figure    0
dtype: int64

In [17]:
# Most man of the match awards
ipl['player_of_the_match'].value_counts()[0:10]

player_of_the_match
Jos Buttler          3
Umesh Yadav          2
Quinton de Kock      2
Rahul Tripathi       2
Wanindu Hasaranga    2
Hardik Pandya        2
Shubman Gill         2
Marco Jansen         1
Krunal Pandya        1
Rahul Tewatia        1
Name: count, dtype: int64

In [11]:
ipl.columns

Index(['match_id', 'date', 'venue', 'team1', 'team2', 'stage', 'toss_winner',
       'toss_decision', 'first_ings_score', 'first_ings_wkts',
       'second_ings_score', 'second_ings_wkts', 'match_winner', 'won_by',
       'margin', 'player_of_the_match', 'top_scorer', 'highscore',
       'best_bowling', 'best_bowling_figure'],
      dtype='object')

In [12]:
ipl['team1'].unique()

array(['Chennai', 'Delhi', 'Banglore', 'Gujarat', 'Hyderabad', 'Kolkata',
       'Mumbai', 'Lucknow'], dtype=object)

In [13]:
ipl['toss_decision'].value_counts()

toss_decision
Field    36
Bat      10
Name: count, dtype: int64

In [14]:
# Most Toss winners
ipl["toss_winner"].value_counts()

toss_winner
Hyderabad    7
Gujarat      6
Lucknow      6
Kolkata      5
Delhi        5
Mumbai       5
Banglore     4
Chennai      3
Rajasthan    3
Punjab       2
Name: count, dtype: int64

In [15]:
ipl['top_scorer'].value_counts()[0:10]

top_scorer
Shubman Gill       4
Quinton de Kock    4
Jos Buttler        3
KL Rahul           3
Rahul Tripathi     2
Hardik Pandya      2
Ishan Kishan       2
Abhishek Sharma    2
MS Dhoni           2
Andre Russell      2
Name: count, dtype: int64

In [16]:
ipl['best_bowling'].value_counts()[0:10]

best_bowling
Dwayne Bravo       2
Lockie Ferguson    2
Andre Russell      2
Prasidh Krishna    2
Daniel Sams        2
Josh Hazlewood     2
T Natarajan        2
Mohsin Khan        2
Rashid Khan        2
Avesh Khan         2
Name: count, dtype: int64

In [17]:
ipl['match_winner'].value_counts()

match_winner
Gujarat      9
Lucknow      7
Rajasthan    6
Kolkata      5
Banglore     4
Hyderabad    4
Delhi        3
Punjab       3
Chennai      3
Mumbai       2
Name: count, dtype: int64

In [18]:
ipl['won_by'].value_counts()

won_by
Wickets    24
Runs       22
Name: count, dtype: int64

In [20]:
ipl['highscore']

0      50
1      81
2      88
3      55
4      57
5      28
6      61
7      70
8     100
9      84
10     60
11     68
12     56
13     80
14     96
15     75
16     59
17     95
18     87
19     71
20    103
21     66
22     94
23     51
24    116
25     67
26     47
27     46
28     58
29     77
30     99
31     54
32     65
33     92
34     73
35     63
36     89
37     36
38     49
39     76
40    140
41     93
42     48
43    112
44    106
45     45
Name: highscore, dtype: int64

In [21]:
ipl['best_bowling_figure'].value_counts()

best_bowling_figure
3--22    5
3--20    3
3--25    3
3--17    2
3--30    2
4--33    2
4--24    2
3--23    2
4--23    1
4--5     1
2--20    1
3--16    1
2--23    1
5--18    1
2--46    1
4--46    1
4--16    1
2--19    1
4--38    1
3--10    1
4--30    1
4--28    1
3--28    1
2--59    1
3--37    1
3--18    1
4--20    1
4--41    1
2--21    1
2--22    1
2--25    1
2--24    1
3--43    1
Name: count, dtype: int64